#select_battle {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    position: relative;
    padding: 10px;
    border: thin dotted #888;    
}

#select_battle>button,
#combat button {
    opacity: 0.8;
    background-color: #B1B1B1;
    border: none;
    padding: 10px 15px;
    color: white;
    text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition-duration: 0.5s;
}

#combat button:not(#battle) {
    opacity: 0.6;
}

#select_battle>button:not([disabled]):hover,
#select_battle>button:not([disabled]):focus,
#combat button:not([disabled]):hover,
#combat button:not([disabled]):focus{
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
    opacity: 1 !important;
    transition-duration: 0.2s;
}

#select_battle>button:not([disabled]):hover,
#select_battle>button:not([disabled]):focus,
#combat #battle:not([disabled]):hover,
#combat #battle:not([disabled]):focus {
    background-color: #01A391;
}

#select_battle>select {
    padding: 9px 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px -2px 0px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
    text-align: right;
}

#combat {
    display: none;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

#combat>p:first-child {
    border-bottom: thin solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 1.25em;
    margin: 0;
    color: #01A391;
}

#malus:before {
    content: "Malus : ";
    color: #C74F4F;
}

#malus {
    margin-left: 10px;
    display: inline-block;
    padding: 5px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: rgba(199, 79, 79, 0.1);
    color: #777;
    font-size: 0.8em;
}

#combat>ul.monstres {
    position: relative;
    padding-left: 120px;
    margin: 20px 0;
    min-height: 70px;
}

#combat>ul.monstres>li {
    display: block;
    border-left: thin solid rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    opacity: 0.6;
}

#combat>ul.monstres>li>span.habilete,
#combat>ul.monstres>li>span.endurance {
    margin-left: 10px;
}

#combat #battle {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 20px;
    color: transparent;
    text-shadow: none;
    background: #B1B1B1 url(./img/battle.png) no-repeat center center;
}

#combat #battle[disabled] {
    opacity: 0.3;
}

#combat>ul.monstres>li>span.habilete:before,
#combat_log>div>p>span.habilete:before {
    content: url(./img/sword_mini.png);
}
#combat>ul.monstres>li>span.habilete:after,
#combat_log>div>p>span.habilete:after {
    content: none;
}
#combat>ul.monstres>li>span.endurance:before,
#combat_log>div>p>span.endurance:before {
    content: url(./img/heart_mini.png);
}
#combat>ul.monstres>li>span.endurance:after,
#combat_log>div>p>span.endurance:after {
    content: none;
}

#combat>ul.monstres>li>span.habilete:before,
#combat>ul.monstres>li>span.endurance:before {
    padding-right: 5px;
}

#combat>div.log {
    border-bottom-left-radius: 5px;
    border: thin dotted rgba(0, 0, 0, 0.3);
    height: 100px;
    padding: 5px;
    position: relative;
    overflow: auto;
    margin: 0 0 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
    border-bottom-right-radius: 5px;
    border-top: none;
}

#combat>div.legend {
    background-color: #5D94C7;
    padding: 0 5px;
    text-transform: capitalize;
    z-index: 10;
    font-size: 0.9em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: thin dotted rgba(0, 0, 0, 0.3);
    border-bottom: thin solid #5D94C7;
    color: white;
}

#combat>div.log>p.log_entry {
    margin: 5px 0 0 0;
    padding-bottom: 5px;
    opacity: 0.7;
    border-bottom: thin dotted #DDD;
}

#combat>div.log>p.log_entry:first-child {
    opacity: 1;
}

#combat>div.log>p.log_entry:last-child {
    border: none;
}

#combat>div.log>p.log_entry>span:last-of-type {
    font-size: 1em;
    font-weight: 600;
}

#combat_log {
    margin-top: 30px;
    border-top: 2px dotted #C74F4F;
}

#combat_log>#no_combat {
    padding: 10px;
    margin-top: 30px;
}

#combat_log>div:first-child {
    margin-top: 30px;
}

#combat_log>div {
    background-color: white;
    transition-duration: 0.5s;
    opacity: 0.7;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 5px;
}

#combat_log>div>p {
    padding: 0 10px;
}

#combat_log>div>p:first-child {
    padding: 10px;
    color: white;
    margin: 0;
    text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.1);
}

#combat_log>div>p.victoire,
#combat #next_battle,
#combat #victory,
#combat #retry {
    background-color: #01A391;
}

#retry {
    margin-left: 10px;
}

#combat #defeat,
#combat_log>div>p.defaite,
#combat #cancel:hover,
#combat #cancel:focus{
    background-color: #C74F4F;
}

#combat_log>div>p>span.monstre_nom,
#combat_log>div>p>span:last-of-type {
    font-weight: 600;
}

.courant {
    opacity: 1 !important;
    border-left: none !important;
    border-top: thin solid rgba(0, 0, 0, 0.1);
    border-bottom: thin solid rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
}

.courant:before {
    content: "VS - ";
    color: #C74F4F;
    font-weight: 600;
}

.vaincu {
    background-color: rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1) url(./img/skull.png) no-repeat 5px center;
    padding-left: 25px !important;
}

.victory {
    color: #01A391;
    font-weight: 600;
}

.defeat {
    color: #C74F4F;
    font-weight: 600;
}