body {
    padding-top: 59px;
    margin-bottom: 20px;
}

#small_title {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    width: 100%;
}

#small_title>p {
    font-size: 1.5em;
    background: transparent;
    width: 100%;
    max-width: 1024px;
    min-width: 450px;
    margin: 0 auto !important;
    padding: 15px 0;
    color: #C74F4F;
}
#small_title>p>a>span {
    color: #01A391;
    text-transform: uppercase;
    font-weight: 800;
}

#small_title>p>a {
    background: url(./img/back.png) no-repeat left 8px;
    margin-left: 10px;
    padding-left: 15px;
}

#small_title>p>a:hover {
    background-image: url(./img/back_hover.png);
}

#small_title>p>a:hover>span>span {
    color: #C74F4F;
}

#small_title>p>a>span>span {
    font-weight: 800;
    color: #B1B1B1;
}

nav {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2) inset, 0px 3px 3px rgba(0, 0, 0, 0.2);
    top: 59px;
    width: 100%;
    color: white;
    background: url(./img/triangular.png) repeat left top;
    z-index: 100;
}

nav>ul {
    list-style: none;
    padding: 0;
}

nav>ul>li {
    display: inline-block;
    font-size: 1.5em;
    text-align: center;
    text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.1);
    transition-duration: 0.5s;
}

nav>ul>li:first-child {background-color: rgba(93, 148, 199, 0.3);}
nav>ul>li:nth-child(2) {
    background-color: rgba(199, 79, 79, 0.3);
}
nav>ul>li:nth-child(3) {
    background-color: rgba(1, 163, 145, 0.3);
}

nav>ul>li:hover {
    transition-duration: 0.2s;
}

nav>ul>li:first-child:hover {background-color: rgba(93, 148, 199, 0.6);}
nav>ul>li:nth-child(2):hover {background-color: rgba(199, 79, 79, 0.6);}
nav>ul>li:nth-child(3):hover {background-color: rgba(1, 163, 145, 0.6);}


nav>ul>li.actif {
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav>ul>li.actif:first-child {
    background-color: #5D94C7;
    box-shadow: 0px 5px 0px #5D94C7, 0px 7px 0px rgba(0, 0, 0, 0.2);
}
nav>ul>li.actif:nth-child(2) {
    background-color: #C74F4F;
    box-shadow: 0px 5px 0px #C74F4F, 0px 7px 0px rgba(0, 0, 0, 0.2);
}
nav>ul>li.actif:nth-child(3) {
    background-color: #01A391;
    box-shadow: 0px 5px 0px #01A391, 0px 7px 0px rgba(0, 0, 0, 0.2);
}

nav>ul>li:last-child {
    float: right;
    position: absolute;
    right: 0;
    cursor: pointer;
    padding: 5px 15px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

nav>ul>li:last-child:focus, nav>ul>li:last-child:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: gray;
}

nav>ul>li>a {
    display: block;
    padding: 15px;
    min-width: 75px;
}

#dice_popup {
    background: url(./img/bg.png) repeat top left;
    border-radius: 5px;
    max-width: 450px;
    min-width: 405px;
    max-height: 90%;
    overflow: overlay;
    padding-bottom: 20px;
}

#dice_popup>h1 {
    color: #01A391;
    font-size: 2em;
    font-weight: 600;
    margin: 0 0 20px 0;
    padding: 20px;
    box-shadow: 0px 0px 10px #808080;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px 5px 0 0;
    text-align: center;
}

#dice_popup>p {
    padding: 10px 20px;
    border: none;
    box-shadow: 0px -2px 0px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#dice_popup>p>input[type="text"] {
    border: none;
    text-align: right;
    outline: none;
    font-weight: 600;
    color: #C74F4F;
}

#dice_popup>button {
    font-size: 1em;
    border: none;
    background-color: #B1B1B1;
    color: white;
    text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.1);
    transition-duration: 0.5s;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: block;
    margin: 0 auto;
    padding: 10px 158px;
}

#dice_popup>button:last-of-type {
    opacity: 0.6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#dice_popup>button:last-of-type:hover, #dice_popup>button:last-of-type:focus {
    background-color: #C74F4F;

    opacity: 1;
}

#dice_popup>button:hover, #dice_popup>button:focus {
    background-color: #01A391;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
    transition-duration: 0.2s;
}

#dice_popup>h2 {
    color: rgb(199, 79, 79);
    font-size: 1.1em;
    font-weight: 400;
    margin: 20px;
    border-bottom: thin solid;
}

#dice_popup>div {
    margin: 20px;
    color: #888;
    padding-bottom: 20px;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#dice_popup>div>div:first-of-type {
    padding-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0 auto;
    min-height: 43px;
    display: table;
}

#dice_popup>div>span {
    text-align: center;
    font-size: 3.1em;
    display: block;
    font-weight: 600;
    margin: 0 25px;
    border-top: thin dotted #5D94C7;
}

#dice_popup>div>div:last-of-type {
    text-align: center;
    border-top: thin dotted #5D94C7;
    width: 100px;
    margin: 0 auto;
    color: #5D94C7;
}

#dice_popup>div>div>img {
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
}

#dice_popup>div>div>img:last-child {
    margin-right: 0;
}

div.centre>h2 {
    text-align: left;
    padding-top: 30px;
    font-size: 2em;
    padding-bottom: 10px;
}

#fast_stat {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    background: none;
    opacity: 1;
    color: inherit;
    margin: 0;
    font-size: 1.3em;
    padding: 0 0 10px 0;
}

#fast_stat:hover>div,
#fast_stat:focus>div {
    color: inherit;
}

#fast_stat span.max:before {
    content: "/";
}

#fast_stat span.max {
    font-size: 0.6em;
}

#habilete, #endurance, #chance {
    display: inline-block;
    padding-left: 25px;
    font-size: 1.4em;
    background: no-repeat left 10px;
    margin-left: 10px;
}

#habilete {
    background-image: url(./img/sword.png);
}

#endurance {
    background-image: url(./img/heart.png)
}

#chance {
    background-image: url(./img/clover.png)
}